/disks/3/October_Rust/11_-_Cinnamon_Girl.mp3:/bin/echo "DUNDERfnas":128000
/disks/3/Metallica/205_metallica_-_last_caress_green_hell_-tfa.mp3::112000
/disks/2/Sting_-_Best_Of/06_-_Mad_About_You.mp3::128000
